html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;

}

div.container {

  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 500px;
  width: 500px;
  border: 10px solid black;

}

.display {
  font-size: 150px;
  width: 500px;
  text-align: center;
  -webkit-app-region: drag;
}


div.controls button {
  border: none;
  font-size: 25px;
  padding: 15px;
  border-radius: 4px;
  color: white;
  background-color: #0275D8;

}
div.controls .start {
  border: none;
  background-color: #5CB85C;

}

div.controls .stop {
  background-color: #D9534F;

}
 #time {
  background-color: #F0AD4E;

}

#time:hover {
 background-color: #F0AD4E;
 cursor: wait;
}
.controls .off {
  background-color: gray;
}

.controls #close {
  position: fixed;
  top: 5px;
  right: 10px;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
  color: #D9534F;
  background-color: transparent;
}
/* NOTE: TEMPORARIO PAUSE BUTAO */
